In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
df=pd.read_csv('electrical_dataset.csv')
df.head(5)

,Timestamp,Voltage (V),Current (I),Power (W),Power_Factor,Temperature (°C),Humidity (%)
0,2024-12-01 00:00:00,222.483571,4.642510,965.023943,0.880626,21.734855,45.494834
1,2024-12-01 00:01:00,219.308678,4.206038,894.158159,0.939144,NaN,46.477508
2,2024-12-01 00:02:00,223.238443,4.143615,NaN,0.864156,17.952615,64.195316
3,2024-12-01 00:03:00,227.615149,4.188552,1006.917263,0.926711,19.613098,37.214868
4,2024-12-01 00:04:00,NaN,5.165739,1081.262142,0.931754,21.783244,55.741660

In [44]:
df.describe()

,Voltage (V),Current (I),Power (W),Power_Factor,Temperature (°C),Humidity (%)
count,9500.000000,9600.000000,9700.000000,9800.000000,9700.000000,9600.000000
mean,219.992912,5.014070,1102.598216,0.919970,20.003119,50.003748
std,5.007974,0.579586,143.312091,0.040413,7.363127,11.547591
min,200.387999,4.000096,747.956441,0.850001,3.005629,30.000337
25%,216.654181,4.514213,989.925889,0.885059,13.225365,40.117437
50%,219.997444,5.020268,1100.829462,0.920172,20.011891,49.917048
75%,223.348834,5.515116,1207.908605,0.954773,26.657589,60.105216
max,239.631189,5.999850,1498.874098,0.989985,36.151952,69.997588

In [45]:
df.isnull().sum()

Timestamp             0
Voltage (V)         500
Current (I)         400
Power (W)           300
Power_Factor        200
Temperature (°C)    300
Humidity (%)        400
dtype: int64

In [46]:
percentage=(df.isnull().sum()/len(df))*100
percentage

Timestamp           0.0
Voltage (V)         5.0
Current (I)         4.0
Power (W)           3.0
Power_Factor        2.0
Temperature (°C)    3.0
Humidity (%)        4.0
dtype: float64

In [47]:
df.columns

Index(['Timestamp', 'Voltage (V)', 'Current (I)', 'Power (W)', 'Power_Factor',
       'Temperature (°C)', 'Humidity (%)'],
      dtype='object')

In [48]:
df.describe()

,Voltage (V),Current (I),Power (W),Power_Factor,Temperature (°C),Humidity (%)
count,9500.000000,9600.000000,9700.000000,9800.000000,9700.000000,9600.000000
mean,219.992912,5.014070,1102.598216,0.919970,20.003119,50.003748
std,5.007974,0.579586,143.312091,0.040413,7.363127,11.547591
min,200.387999,4.000096,747.956441,0.850001,3.005629,30.000337
25%,216.654181,4.514213,989.925889,0.885059,13.225365,40.117437
50%,219.997444,5.020268,1100.829462,0.920172,20.011891,49.917048
75%,223.348834,5.515116,1207.908605,0.954773,26.657589,60.105216
max,239.631189,5.999850,1498.874098,0.989985,36.151952,69.997588

In [97]:
columns=df.select_dtypes(include=['number']).columns
for column in columns:
    df.fillna({column:df[column].mean()},inplace=True)

# since the data is uniform with really less outliers, the empty columns can be replaced by the mean
# the data will still be uniform as the empty columns are being replaced by the mean and the mean and median will still remain the same

In [50]:
df.describe()

,Voltage (V),Current (I),Power (W),Power_Factor,Temperature (°C),Humidity (%)
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,219.992912,5.014070,1102.598216,0.919970,20.003119,50.003748
std,4.881157,0.567875,141.145822,0.040007,7.251828,11.314259
min,200.387999,4.000096,747.956441,0.850001,3.005629,30.000337
25%,216.856189,4.539673,993.321731,0.885729,13.393067,40.506874
50%,219.992912,5.014070,1102.598216,0.919970,20.003119,50.003748
75%,223.133397,5.495501,1204.749595,0.954266,26.492348,59.646597
max,239.631189,5.999850,1498.874098,0.989985,36.151952,69.997588

In [51]:
df.isnull().sum()

Timestamp           0
Voltage (V)         0
Current (I)         0
Power (W)           0
Power_Factor        0
Temperature (°C)    0
Humidity (%)        0
dtype: int64

In [98]:
for column in columns:
    Q25=df[column].quantile(0.25)
    Q75=df[column].quantile(0.75)
    IQR=Q75-Q25
    lower_bound=Q25-1.5*IQR
    upper_bound=Q75+1.5*IQR
    outliers=df[(df[column]<lower_bound) | (df[column]>upper_bound)]
    outlier_count=outliers[column].count()
    print(f"{column} : {outlier_count}")

Voltage (V) : 127
Current (I) : 0
Power (W) : 0
Power_Factor : 0
Temperature (°C) : 0
Humidity (%) : 0